:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color-scheme: dark;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f172a;
}

a {
  color: inherit;
}
